footer.grey.lighten-2
	.row: .container
		.right: p support@carevoice.org
		.left: p &copy; CareVoice 2017
	.row: .container
		p Legal Notice:  CareVoice utilizes patented technology to create its advanced care directives, and for more information on this, please see US 8,306,830 B1 "Directed Medical Care System and Method".