html
	head
		link(rel='stylesheet' href='./css/index.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,700,900' type='text/css')

	body

		include sections/header.pug
		include sections/features.pug
		include sections/contact.pug
		include sections/footer.pug